@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

* {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.5px;
}

body {
  background-color: #f1f1f1;
  font-size: 14px;
}


@layer components {

  /* TYPOGRAHY */
  .title {
    @apply font-medium text-4xl;
  }

  .subtitle {
    @apply font-medium ;
  }

  .cartNum {
    @apply text-[10px] rounded-full h-5 w-5 items-center flex justify-center bg-black text-white
  }

  .navbox {
    @apply flex gap-5 bg-[#f0f1f0] py-3 px-1 rounded-full shadow-sm;
  }

  /* BUTTON */
  .btn-primary {
    @apply w-full border-[1.5px] border-black text-black hover:bg-black hover:text-white font-normal py-1.5 px-3 rounded-3xl shadow-md transition-all duration-300 transform text-sm;
  }

  /* CONTAINERS */
  .main {
    @apply flex h-screen pt-28 justify-center mx-4;
  }

  .cartCard {
    @apply rounded-2xl bg-[#fdfdfd73] p-3 shadow-sm flex flex-row;
  }

  .cartCardOutline {
    @apply bg-[#f0f1f0] border border-mist-50 flex items-start rounded-3xl w-fit shadow-sm;
  }

  .productCard {
    @apply rounded-2xl bg-linear-0 from-gray-200 to-transparent p-3 w-44 h-60 md:w-52 md:h-72 flex flex-col items-center justify-center;
  }

  .productCardSkeleton {
    @apply rounded-2xl bg-gray-100 p-3 w-44 h-60 md:w-52 md:h-72 flex flex-col items-center justify-center;
  }

  .toast {
    @apply rounded-2xl bg-gray-100 p-3 w-44 h-20 flex flex-col items-center justify-center;
  }

  .cartItem {
    @apply flex bg-amber-200;
  }

}

::-webkit-scrollbar {
  display: none;
}